<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script src="http://solarpocketfactory.com/static/js/interface.js"></script>
<link rel="stylesheet" type="text/css" href="http://solarpocketfactory.com/static/css/testing.css">

</head>
<div class="buttons">
<div class="motionCommands">
<div id="placement">
  <div class="panelPlacement">
    <div class="panelButton">
      <input type="button" class="button" value="placePanel" onclick="panel($(this).val())" />
    </div>
    <div class="panelParameters">
      <input type="text" value="5" class="parameter" id="voltage"> volts
      <input type="text" value="1" class="parameter" id="quantity"> panels 
    </div>
  </div>      
  <input type="button" class="button" value="placeSolette" id="soletteButton" onclick="sendPost($(this).val())" />      
  
</div>

<div class="utility">
      <input type="button" class="button" value="vacuumOn" onclick="sendPost($(this).val())" />  
      <input type="button" class="button" value="vacuumOff" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="suctionOn" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="suctionOff" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="backingPusherIn" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="backingPusherOut" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="tabbingCutterUp" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="tabbingCutterDown" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="demo" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="bounceWithMe" onclick="sendPost($(this).val())" /> 
      <input type="button" class="button" value="startup" onclick="sendPost($(this).val())" /> 

      <input type="button" class="button" id="E-Stop"  value="E-stop" onclick="sendPost($(this).val())" /> 
</div>


<div class="factoryStateColumn2">
    
    #raw materials in stock<br/>
        <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="solettesInHopper"><input type="text"  value="{{ factoryState.solettesInHopper }}" id="solettesInHopper" class="factoryStateValue"></div>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="backingWidth"><input type="text"  value="{{ factoryState.backingWidth }}" id="backingWidth" class="factoryStateValue"></div>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="backingLength"><input type="text"  value="{{ factoryState.backingLength }}" id="backingLength" class="factoryStateValue"></div>


    #backing dimensions<br/>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="holeOffset"><input type="text"  value="{{ factoryState.holeOffset }}" id="holeLength" class="factoryStateValue"></div>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="holeLength"><input type="text"  value="{{ factoryState.holeLength }}" id="holeLength" class="factoryStateValue"></div>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="padLength"><input type="text"  value="{{ factoryState.padLength }}" id="padLength" class="factoryStateValue"></div>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="tabbingConnection"><input type="text"  value="{{ factoryState.tabbingConnection }}" id="tabbingConnection" class="factoryStateValue"></div>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="tabbingLength"><input type="text"  value="{{ factoryState.tabbingLength }}" id="tabbingLength" class="factoryStateValue"></div>

            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="soletteSpacing"><input type="text"  value="{{ factoryState.soletteSpacing }}" id="soletteSpacing" class="factoryStateValue"></div>    

    #solette dimensions<br/>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="soletteLength"><input type="text"  value="{{ factoryState.soletteLength }}" id="soletteLength" class="factoryStateValue"></div>
             <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="soletteWidth"><input type="text"  value="{{ factoryState.soletteWidth }}" id="soletteWidth" class="factoryStateValue"></div> 
             <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="soletteThickness"><input type="text"  value="{{ factoryState.soletteThickness }}" id="soletteThickness" class="factoryStateValue"></div>
 

    #factory dimensions<br/>
            <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="hopperPosition"><input type="text"  value="{{ factoryState.hopperPosition }}" id="hopperPosition" class="factoryStateValue"></div>
             <div class="valueLine"><input type="button" class="factoryStateButton" onClick="updateFactoryState($(this).val())" value="conveyorPosition"><input type="text"  value="{{ factoryState.conveyorPosition }}" id="conveyorPosition" class="factoryStateValue"></div>
 

</div>

</html>
