G0x341 {#advance conveyor 360mm #}
G4P10000 {# wait 10 seconds for the motion to complete #}

!13 {# solder door down#}
G4P4000
!15 {# solder fan on #}
G4P2000
!16 {# solder fan off #}
!14 {# solder door up #}
G0X14 {# move the conveyor 14 mm #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P4000
!15 {# solder fan on #}
G4P2000
!16 {# solder fan off #}
!14 {# solder door up #}
G0X14 {# move the conveyor 14 mm #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P4000
!15 {# solder fan on #}
G4P2000
!16 {# solder fan off #}
!14 {# solder door up #}
G0X14 {# move the conveyor 14 mm #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P4000
!15 {# solder fan on #}
G4P2000
!16 {# solder fan off #}
!14 {# solder door up #}
G0X14 {# move the conveyor 14 mm #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P4000
!15 {# solder fan on #}
G4P2000
!16 {# solder fan off #}
!14 {# solder door up #}
G0X14 {# move the conveyor 14 mm #}
G4P2000 {# pause for 2000 ms #}

G0X300
