G0x347 {#advance conveyor 341mm #}
G4P10000 {# wait 10 seconds for the motion to complete #}

!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}
!13 {# solder door down#}
G4P3000
!15 {# solder fan on #}
G4P3000
!14 {# solder door up #}
G0X7 {# move the conveyor 14 mm #}
!16 {# solder fan off #}
G4P2000 {# pause for 2000 ms #}

G0X300
