$1MI=8 {# 8 microsteps all around! #}
$2MI=8
$3MI=8
$4MI=8

$gdi=1 {# set into absolute distance mode on reset #}
$yjm=5000000000 {# wicked high jerk setting because we are champions #}
$JA=200000 {# high junction acceleration, too.  Get that pick axis flying #}

$1PO=1 {# two of the motors have flipped polarity in the current wiring.  This addresses that #}
$4PO=1

$xTM=2000 {# traverse maxima for the axes--no single motion command can go further than this maximum #}
$yTM=1000
$ztm=1000
$aTM=50

$gun=1 {# units in mm #}
G91 {# relative distance mode #}

$1ma={{ factoryState.var_1ma }} {# mapping axes:  1-x, 2-y, 3-z, 4-a #}
$2ma={{ factoryState.var_2ma }}
$3ma={{ factoryState.var_3ma }}
$4ma={{ factoryState.var_4ma }}

$xfr={{ factoryState.var_xfr }} {# feed rates #}
$yfr={{ factoryState.var_yfr }}
$zfr={{ factoryState.var_zfr }}
$afr={{ factoryState.var_afr }}

$xvm={{ factoryState.var_xvm }} {# traverse rates #}
$yvm={{ factoryState.var_yvm }}
$zvm={{ factoryState.var_zvm }}
$avm={{ factoryState.var_avm }}

$1tr={{ factoryState.var_1tr }} {# distance traveled per rotation #}
$2tr={{ factoryState.var_2tr }}
$3tr={{ factoryState.var_3tr }}
$4tr={{ factoryState.var_4tr }}

$xsa={{ factoryState.var_xsa }} {# step angle of the motors #}
$ysa={{ factoryState.var_ysa }}
$zsa={{ factoryState.var_zsa }}
$asa={{ factoryState.var_asa }}

$1pm={{ factoryState.var_1pm }} {# power mode.  '0' turns the power off after a motion, '1' keeps the motor locked in position #}
$2pm={{ factoryState.var_2pm }}
$3pm={{ factoryState.var_3pm }}
$4pm={{ factoryState.var_4pm }}
